    
    </div> 
    <div class="drawer-side drawer-shadow">
      <label for="my-drawer-2" class="drawer-overlay"></label> 
      <ul class="p-4 overflow-y-auto bg-white menu w-60 text-base-content">
        <!-- Sidebar content here -->
        <li>
          <a class="hover:bg-transparent" href="/" class="hidden lg:flex" id="logo">
            <svg class="hover:animate-spin" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" shape-rendering="geometricPrecision" viewBox="0 0 24 24">
              <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M5.014 3.945A4.768 4.768 0 1112 9.78h.002c-.612 0-1.167.248-1.569.65a4.768 4.768 0 01-5.418-6.484z" fill="#5C59EB"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M3.945 5.014a4.768 4.768 0 016.485 5.418 2.21 2.21 0 00-.65 1.567 4.768 4.768 0 11-5.835-6.985z" fill="#056DFF"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M1.364 12.756A4.768 4.768 0 019.78 12c0 .612.248 1.167.65 1.569a4.768 4.768 0 11-9.065-.814z" fill="#05A1FC"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.595 13.825a4.747 4.747 0 012.836-.255c.402.402.957.65 1.57.65a4.768 4.768 0 11-4.406-.396z" fill="#34C759"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M13.594 13.564a4.768 4.768 0 11-1.596.656H12c.614 0 1.17-.248 1.57-.65l.024-.006z" fill="#FFCC01"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M16.405 10.175a4.768 4.768 0 11-2.836 3.396 2.21 2.21 0 00.651-1.502v-.07a4.747 4.747 0 012.185-1.824z" fill="#FCA41D"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M13.825 7.594a4.768 4.768 0 11.447 4.485L14.221 12c0-.613-.249-1.168-.651-1.57a4.745 4.745 0 01.255-2.836z" fill="#FF2C55"></path><path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M12.755 1.364a4.768 4.768 0 11.814 9.066A2.212 2.212 0 0012 9.78a4.768 4.768 0 01.755-8.416z" fill="#F249BA"></path>
            </svg>
            <span class="text-[1.25rem] font-bold tracking-wider">studio flow</span>
          </a>
        </li>
        <li>
          <a class="group active:bg-black active:text-white" href="/">
            <svg class="stroke-black group-active:stroke-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect x="48" y="48" width="64" height="64" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><rect x="144" y="48" width="64" height="64" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><rect x="48" y="144" width="64" height="64" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><rect x="144" y="144" width="64" height="64" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect></svg>
            Dashboard
          </a>
        </li>
        <li>
          <a class="group active:bg-black active:text-white" href="/shoot">
            <svg class="stroke-black group-active:stroke-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M208,208H48a16,16,0,0,1-16-16V80A16,16,0,0,1,48,64H80L96,40h64l16,24h32a16,16,0,0,1,16,16V192A16,16,0,0,1,208,208Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="128" cy="132" r="36" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle></svg>
            Shoots
          </a>
        </li>
        <li>
          <a class="group active:bg-black active:text-white" href="/items">
            <svg class="stroke-black group-active:stroke-white group-active:fill-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M122.7,25.9,42,42,25.9,122.7a8,8,0,0,0,2.2,7.2L132.5,234.3a7.9,7.9,0,0,0,11.3,0l90.5-90.5a7.9,7.9,0,0,0,0-11.3L129.9,28.1A8,8,0,0,0,122.7,25.9Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="84" cy="84" r="12"></circle></svg>
            Items
          </a>
        </li>
        <li class="mt-auto">
          <a class="active:bg-black active:text-white" href="/logout">logout</a>
        </li>
      </ul>
    
    </div>
  </div>