<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="px-4">
    <header class="justify-start h-[7vh]">
        <a href="/" class="inline-block font-bold tracking-wider" id="logo">studio flow</a>
    </header>
    <section class="md:px-10">
       
        <div class="max-w-screen-md mt-10 mx-auto">

            <form class="bg-white drop-shadow-2xl rounded-xl px-8 pt-6 pb-8 mb-4" action="/login" method="POST">
                <h2 class="text-2xl font-bold mb-6">
                    Login
                 </h2>
                <div class="flex flex-col">
                    <div class="w-full md:w-2/3 mb-4">
                        <label class="block uppercase tracking-wide text-xs mb-2" for="username">
                          Username
                        </label>
                        <input class="input input-bordered w-full focus:outline-none focus:bg-gray-100" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="w-full md:w-2/3 mb-4">
                        <label class="block uppercase tracking-wide text-xs mb-2" for="password">
                          Password
                        </label>
                        <input class="input input-bordered w-full focus:outline-none focus:bg-gray-100" type="password" name="password" placeholder="Password">
                    </div>
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div><p class="text-red-500 text-xs italic"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <div class="flex items-center justify-between w-full">
                        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded  focus:outline-none focus:shadow-outline" type="submit" value="Login">
                        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/signup#sign-up">
                          Don't have an account? Sign Up
                        </a>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>